# Django Configuration file
DJANGO_SECRET_KEY={{ django_secret_key }}

DJANGO_DEBUG={{ django_debug  | default("") }}
DJANGO_ALLOWED_HOSTS={{ django_allowed_hosts | default('localhost,127.0.0.1') }}

DJANGO_STATIC_ROOT={{ django_static_root }}
DJANGO_MEDIA_ROOT={{ django_media_root }}
DJANGO_MEDIA_URL={{ django_media_url }}

DB_ENGINE=django.db.backends.postgresql
DB_HOST={{ db.host }}
DB_PORT={{ db.port }}
DB_NAME={{ db.name }}
DB_PASSWD={{ db.password }}
DB_USER={{ db.user }}

DJANGO_EMAIL_HOST={{ email.hostname }}
DJANGO_EMAIL_PORT={{ email.port }}
DJANGO_EMAIL_HOST_USER={{ email.username }}
DJANGO_EMAIL_HOST_PASSWORD={{ email.password }}
DJANGO_EMAIL_USE_TLS={{ email.uses_tls }}
DJANGO_EMAIL_USE_SSL={{ email.uses_ssl }}

DJANGO_ENVIRONMENT={{ django_environment }}
DJANGO_CONFIGURATION={{ django_environment }}

# Custom Configuration
{{ django_env_custom_vars }}