server {
    listen      443 ssl;
    server_name {{ item.domain }};

    ssl_certificate /etc/letsencrypt/live/{{ item.domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ item.domain }}/privkey.pem;
    ssl_session_cache   shared:SSL:300m;
    ssl_session_timeout 300m;
    ssl_protocols       TLSv1 TLSv1.1 TLSv1.2;
    ssl_ciphers         AES128-SHA:AES256-SHA:RC4-SHA:DES-CBC3-SHA:RC4-MD5;

    client_max_body_size {{ item.client_max_body_size }};

    root {{ item.web_root }};

    location / {
{#
    Since the webcn project is serving a Tryton SAO static site
    on standard HTTP ports, only the POST method needs to be forwarded
    to the Tryton WSGI App, and GET methods will be handled by the
    nginx webroot
#}
        include             uwsgi_params;
        uwsgi_read_timeout  {{ item.timeout }};
        if ($request_method = 'POST') {
            uwsgi_pass          {{ item.socket }};
        }
    }

}

server {
    listen      8443 ssl;
    server_name {{ item.domain }};

    ssl_certificate /etc/letsencrypt/live/{{ item.domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ item.domain }}/privkey.pem;
    ssl_session_cache   shared:SSL:300m;
    ssl_session_timeout 300m;
    ssl_protocols       TLSv1 TLSv1.1 TLSv1.2;
    ssl_ciphers         AES128-SHA:AES256-SHA:RC4-SHA:DES-CBC3-SHA:RC4-MD5;

    client_max_body_size {{ item.client_max_body_size }};

    location / {
{#
    Since the webcn project is serving a REST API from the 
    Tryton WSGI app, it must forward any usual CRUD HTTP method
    except OPTIONS, which is answered a "204 No Content" by nginx
    with CORS-tolerant headers so as to support
    Cross-Origin Resource Sharing with the static website
    (served elsewhere).
    Tryton SAO site is incompatible with such a server because
    GET HTTP requests would conflict in the rules
#}
        add_header 'Access-Control-Allow-Origin' '*';
        if ($request_method = 'OPTIONS') {
            add_header 'Access-Control-Allow-Origin' '*';
            add_header 'Access-Control-Allow-Headers' 'User-Agent, Content-Type';
            add_header 'Content-Type' 'text/plain charset=UTF-8';
            return 204;
        }
        include             uwsgi_params;
        uwsgi_pass          {{ item.socket }};
        uwsgi_read_timeout  {{ item.timeout }};
    }

}
