server {
{% for port in item.ports %}
    listen      {{ port.port }}{% if port.ssl %} ssl{% endif %};
{% endfor %}
{% if type == 'tryton' %}
    #SAO folder
    root {{ tryton_web.root }};
{% endif %}
    server_name {{ item.domain }};

{% if item.ssl %}
    ssl_certificate /etc/letsencrypt/live/{{ item.domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ item.domain }}/privkey.pem;
    ssl_session_cache   shared:SSL:300m;
    ssl_session_timeout 300m;
    ssl_protocols       TLSv1 TLSv1.1 TLSv1.2;
    ssl_ciphers         AES128-SHA:AES256-SHA:RC4-SHA:DES-CBC3-SHA:RC4-MD5;
{% endif %}

    client_max_body_size {{ item.client_max_body_size }};
{% if item.paths %}
    {% for location, path in item.paths.items() %}
    location {{ location }} {
        alias {{ path }};
    }
    {% endfor %}
{% endif %}
    location / {
        {{ custom_nginx_config_params }}
        include             uwsgi_params;
{% if type == 'tryton' %}
        if ($request_method = POST) {
            uwsgi_pass      unix:{{ item.socket }};
            break;
        }
{% else %}
        uwsgi_pass          unix:{{ item.socket }};
{% endif %}
        uwsgi_read_timeout  {{ item.timeout }};
    }
}
